/Bio/Dna/DnaBenchmark/bin/
/Bio/Dna/DnaBenchmark/obj/
/Bio/Dna/DnaConsole/bin/Release/net7.0/
/Bio/Dna/DnaConsole/obj/
/Bio/Dna/DnaLib/bin/
/Bio/Dna/DnaLib/obj/
/Perf0Test/bin/
/Perf0Test/obj/
/VectorTest/bin/
/VectorTest/obj/
/Recursion/Permutation/Permutation/bin/
/Recursion/Permutation/Permutation/obj/
/Recursion/PermutationTest/bin/
/Recursion/PermutationTest/obj/
/ZigZag/ZigZag/bin/
/ZigZag/ZigZag/obj/
/ZigZag/ZigZagTest/bin/Debug/net7.0/
/ZigZag/ZigZagTest/bin/Release/net7.0/
/ZigZag/ZigZagTest/bin/Release-x64/net7.0/
/ZigZag/ZigZagTest/obj/Debug/net7.0/
/ZigZag/ZigZagTest/obj/Release/net7.0/
/ZigZag/ZigZagTest/obj/Release-x64/net7.0/
/Recursion/PermutationBenchmark/bin/
/Recursion/PermutationBenchmark/obj/
/Bio/Dna/DnaLibTest/bin/
/Bio/Dna/DnaLibTest/obj/
/ZigZag/ZigZagTest/obj/
/.idea/.idea.PerfRefactor1/.idea/deployment.xml
/.idea/.idea.PerfRefactor1/.idea/sshConfigs.xml
/.idea/.idea.PerfRefactor1/.idea/webServers.xml
/.idea/.idea.PerfRefactor1/.idea/.name
/Bio/Dna/ViterbiConsole/obj
/Bio/Dna/ViterbiConsole/bin
/Bio/Viterbi/ViterbiLib/obj
/Bio/Viterbi/ViterbiLib/bin
/Bio/Viterbi/ViterbiTest/obj
/Bio/Viterbi/ViterbiTest/bin
/CommonUtil/obj
/CommonUtil/bin
/Bio/Dna/DnaCpp/cmake-build-debug
/Bio/Dna/DnaConsole/bin
/Bio/Dna/DnaConsole/obj
